<div class="navbar-fixed">
    <nav>
     <div class="container">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
          <% if user_signed_in? %>
		  Logged in as <strong><%= current_user.email %></strong>.
		  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'waves-effect waves-light btn-large' %> |
		  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'waves-effect waves-light btn-large'  %>
		<% else %>
		  <%= link_to "Sign up", new_user_registration_path, :class => 'waves-effect waves-light btn-large'  %> |
		  <%= link_to "Login", new_user_session_path, :class => 'waves-effect waves-light btn-large'  %>
		<% end %>
        </ul>
      </div>
      </div>
    </nav>
  </div>