<div class="navbar-fixed">
    <nav>
     <div class="container">
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">SMOKIEZONE</a>
        
        <ul class="right hide-on-med-and-down">

        <%= link_to "Recipes", recipes_path, :class => 'waves-effect waves-light btn-flat' %> |
          <% if user_signed_in? %>
		 
		  <%= link_to current_user.email, edit_user_registration_path, :class => 'waves-effect waves-light btn-flat' %> |
		  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'waves-effect waves-light btn-flat'  %>
		<% else %>
		  <%= link_to "Sign up", new_user_registration_path, :class => 'waves-effect waves-light btn-large'  %> |
		  <%= link_to "Login", new_user_session_path, :class => 'waves-effect waves-light btn-large'  %>
		<% end %>
        </ul>
      </div>
      </div>
    </nav>
  </div>